body{
    background-color: rgb(255, 255, 255);
}

#titlehelper{
    column-span: all;
    padding: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h1{
    /* align-items: center; */
    text-align: center;
    font-style: bolder;
    font-family:'Times New Roman', Times, serif;
    background-color: aquamarine;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding: 15px;
    margin: 0px;
}

#container{
    columns: 2;
    column-fill: balance;
    align-content: center;
    align-items: center;
    border-style: solid;
    border-width: 3px;
    border-color: aquamarine;
    border-top: 0px;
    margin: 10px;
    margin-top: 0px;
    padding: 15px;
    padding-top: 30px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

#Res{
    background-color: rgb(255, 153, 221);
    margin: 15px;
    margin-bottom: 0px;
    padding: 15px;
    font-family:'Times New Roman', Times, serif;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

#result{
    height: 10px;
    font-family:'Times New Roman', Times, serif;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 153, 221);
    border-top: 0px;
    margin: 15px;
    margin-top: 0px;
    padding: 15px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    text-align: center;
}

#btnhelper{
    padding: 15px;
    padding-bottom: 0px;
    
}

#calcbutton{
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(188, 188, 188);
    width: 100%;
    align-items: center;
    /* margin: 15px;
    margin-bottom: 0px; */
    padding: 15px;
    border-radius: 7px;
}

#calcbutton:active{
    background-color: rgb(241, 241, 241);
}

#cons1{
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(153, 255, 192);
    margin: 15px;
    margin-bottom: 0px;
    padding: 15px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

#constrain1box{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(153, 255, 192);
    border-top: 0px;
    margin: 15px;
    margin-top: 0px;
    padding: 15px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

#cons2{
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(153, 255, 192);
    margin: 15px;
    margin-bottom: 0px;
    padding: 15px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

#constrain2box{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(153, 255, 192);
    border-top: 0px;
    margin: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 15px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

#SNSe{
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(158, 153, 255);
    margin: 15px;
    margin-bottom: 0px;
    padding: 15px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

#Sense{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(158, 153, 255);
    border-top: 0px;
    margin: 15px;
    margin-top: 0px;
    padding: 15px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

#varlabel{
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(255, 153, 153);
    margin: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 15px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

#variables{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 153, 153);
    border-top: 0px;
    margin: 15px;
    margin-top: 0px;
    padding: 15px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

#RHSLabel{
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(153, 255, 192);
    margin: 15px;
    margin-bottom: 0px;
    padding: 15px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

#RHS-values{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(153, 255, 192);
    border-top: 0px;
    margin: 15px;
    margin-top: 0px;
    padding: 15px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

#v1, #v2, #v3{
    margin: 5px;
}

#rhs1, #rhs2{
    margin: 5px;
}

#result, #RHS-values, #variables, #Sense, #constrain1box, #constrain2box{
    background-color: rgb(231, 231, 231);
}